/* h1{
    color: aqua;
} */

*{
    margin: 0;
    padding: 0;
}
.main-container {
    margin: 30px;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container .nav {
    width: 1000px;
    margin: 0 auto;
}

.navbar {
    background-color: aqua;
    color: white;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 20px;
    /* margin: 0 auto; */
    margin: 5px;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.nav h1 {
    font-size: 35px;
}

/* Subtitle Line */
.subtitle-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
}

.subtitle-line h2 {
    font-size: 20px;
}

.subtitle-line select, .subtitle-line label {
    font-size: 15px;
    padding: 5px;
}

/* forecast Row */
.row{
    display: flex;
}

.forecast {
    flex: 1;
    text-align: center;
    background-color: #999;
    padding: 40px 0;
    margin-right: 20px;
}

.forecast:last-child {
    margin-right: 0;
}

.forecast p {
    font-size: 20px;
}

.forecast img {
    border-radius: 50%;
    width: 156px;
    margin: 40px 0;
}

.temperatures {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.high, .low {
    font-size: 30px;
    font-weight: 800;
}

.high::after, .low::after {
    content: "°";
}

.high {
    color: #cf2a27;
}
.low{
    color: #2b78e4;
}

/* Footer */
.footer {
    width: 1862px;
    position: absolute;
    bottom: 3px;
    margin-top: 8px;
}

.cookie-policy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    border: 2px solid #999;
    margin: 0 auto;
    box-sizing: border-box;
    
}
.cookie-text {
    width: 80%;
}
.cookie-text h3 {
    font-size: 25px;
}
.cookie-text p {
    font-size: 20px;
}

.btn {
    padding: 10px 20px;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    background-color: #9fc5f8;
    cursor: pointer;

}